<p class="text-center">
<app-loader [isLoading]="isLoading"></app-loader>
</p>

<div class="container">

<div class="card mb-2 p-2">
		<div class="card-img">
		  <img class="card-img-top" src="assets/vps/1/intro.jpg" alt="Card image cap" />
		</div>
  <div class="card-block">
    <h4 class="card-title">Alpha Thalassemia</h4>
    <h6 class="card-subtitle mt-2 mb-4 text-muted">
    	Author: Eleni Dafli <font class="text-info">(4/5 <i class="fa fa-star-half-o" aria-hidden="true"></i>)</font>
    </h6>    	

    <p class="card-text">
      A virtual patient case for thalassemia. It aims to get patients suffering from thalassemia familiarized with their illness and its treatment.
    </p>
    <a href="#" class="float-right btn btn-primary"><i class="fa fa-unlock-alt"></i> Play now!</a>
    <div class="float-left text-center text-warning">(3/5 <i class="fa fa-star-half-o" aria-hidden="true"></i>)
    <p class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> ~ 15 minutes</p>
    </div> 
	
    
  </div>
</div>


<div class="card mb-2 p-2">
		<div class="card-img">
		  <img class="card-img-top" src="assets/vps/2/intro.jpg" alt="Card image cap" />
		</div>
  <div class="card-block">
    <h4 class="card-title">Beta Thalassemia</h4>
    <h6 class="card-subtitle mt-2 mb-4 text-muted">
    	Author: Eleni Dafli <font class="text-info">(4/5 <i class="fa fa-star-half-o" aria-hidden="true"></i>)</font>
    </h6>    	
    <p class="card-text">
      Some quick example text to build on the card title
      and make up the bulk of the card's content.
    </p>

    <a href="#" class="float-right btn btn-primary"><i class="fa fa-unlock-alt"></i> Play now!</a>
    <div class="float-left text-center text-warning">(3/5 <i class="fa fa-star-half-o" aria-hidden="true"></i>)
    <p class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> ~ 12 minutes</p>
    </div> 

  </div>
</div>

<div class="card mb-2 p-2">
		<div class="card-img">
		  <img class="card-img-top" src="assets/vps/3/intro.jpg" alt="Card image cap" />
		</div>
  <div class="card-block">
    <h4 class="card-title">OSCE Station 2. Rectal examination</h4>
    <h6 class="card-subtitle mt-2 mb-4 text-muted">
    	Author: Panos Bamidis <font class="text-info">(3/5 <i class="fa fa-star-half-o" aria-hidden="true"></i>)</font>
    </h6>    	
    <p class="card-text">
      A virtual patient about "OSCE Station 2. Rectal examination"
    </p>
    <a href="#" class="btn btn-primary float-right disabled" disable="disable"><i class="fa fa-lock"></i> Play now!</a>
    <div class="float-left text-center text-warning">(3/5 <i class="fa fa-star-half-o" aria-hidden="true"></i>)
    <p class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> ~ 10 minutes</p>
    </div> 

  </div>
</div>


</div> <!--====  End of container  ====-->
